<!DOCTYPE html>
<html manifest="manifest.appcache">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <title>Template</title>

    <style>
      iframe {
        width: 200px;
        height: 200px;
      }
    </style>

    <script defer>
      window.addEventListener('onload', function(){
        var iframe = document.getElementById('iframe');
        /*iframe.addEventListener('mozbrowsershowmodalprompt', function(ev){
          ev.preventDefault();
        });*/
        iframe.src = 'alert.html';
      });
    </script>
  </head>

  <body>
    
    <p>Implement me</p>
    <iframe id="iframe"></iframe>

  </body>

</html>
