#listmenu {
  position: absolute;
  left: 0;
  top: 20px;
  height: -moz-calc(100% - 20px);
  width: 100%;
  visibility: hidden;
}

#screen.fullscreen-app #listmenu {
  top: 0;
  height: 100%;
}

#screen.attention #listmenu {
  top: 40px;
  height: -moz-calc(100% - 40px);
}

#listmenu.visible {
  visibility: visible;
}

#listmenu menu {
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

#listmenu.visible menu {
  transform: translateY(0);
}

#listmenu menu.slidedown {
  transform: translateY(100%);
}

#listmenu menu button.icon,
#listmenu menu a[role="button"].icon {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 45px;
  background-size: 30px 30px;
}

/* 320x480 phones */
@media (orientation: portrait) and (width: 320px),
       (orientation: landscape) and (width: 480px) {
  #listmenu menu button.icon,
  #listmenu menu a[role="button"].icon {
    background-position: 5px center;
    padding-left: 40px;
  }
}
